@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: "DM Sans", sans-serif;

}

html, body {
    padding: 0;
    margin: 0;
}

.image{
    padding: 30px;
}
.align{
    background-color: #1E0E62;
    padding: 0 70px;

}
header {
    justify-content: space-between;
    display:flex;
}

.bonded.group .align .logo {
    display: flex;
}

nav ul{
    display: flex;
    
}

nav ul li{
    list-style: none;
    margin-right: 20px;
    font: #ffffff;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.bit-signin {
    outline: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    color: #ffffff;
    background-color:#1E0E62;
    padding: 0 30px;
}

.bit-signup {
        outline: #636262;
        box-shadow: none;
        padding: 5px 10px;
        cursor: pointer;
        background-color:#1E0E62;
        text-decoration: none;
        border: 2px solid #ffffff5d;
        width: 70px;
        border-radius: 20px;
        color: #ffffff;
}

.logo{
    line-height: 1.0px;
    padding: 20px 20px;
    margin-right: 10px;
    grid: 1000px;

}

.group {
    line-height: 50px;
}

.hero {
    background-color: #1E0E62;
    padding: 10px 50px;
    display: flex;
}

.hero-left .btn-learn {
    text-align: left;
}

.hero-left{
    color: #ffffff;
    margin: 40px;
}

.hero-left h4 {
    font-size: 30px;
    margin:20px;
}

.hero-left p {
    font-size: 10px;
    margin: 20px;
}

.btn-learn {
    background-color:#E93A7D;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
    margin: 20px;
    border: none;
}

.hero-right{
    color: #1E0E62;
    font-size: 20px;
    background-color: #fff;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    margin-left: 400px;
    margin-bottom: 50px;
}

.hero-up {
    font-size: 20px;
    color: #1E0E62;

}

.email, .password {
    border-radius:20px;
    border: 1px solid #a09e9e;
    width: 330px;
    height: 40px;  
}

.password {
    margin-top: 20px;
}

.service {
    color: #a09e9e;
    font-size: 14px;  
}
 
.forline{
   display: flex;
   margin: 10px; 
}

.smallbutton {
    background-color: #25DAC5;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
    border: none;
    width: 24px;
    height: 24px;
}

.but-sig {
    background: #482BE7;
    border: none;
    width: 330px;
    height:40px;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;   
}

.or {
    color: #a09e9e; 
}

.log-twitter {
    background: #1DA1F2;
    border: none;
    width: 330px;
    height:40px;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
}

.account {
    color: #a09e9e;
}

.signin {
    color: #25DAC5;
    font-size: 15px;
}

.thirdsection {
    background-color: #ffffff;
}

.sectionhead {
    color:#1E0E62;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.section {
    color: #15143966;
    border-right: 10%;
    display: flex;
    margin-left: 250px;
    padding-top: 10px;
}

.move {
    text-align: left;
    margin-left: 100px;
}

.feature-content {
    margin-top: 30px;
}

.feature-head h4 {
    color: #1E0E62;
    text-align: center;
}

.feature-head p {
    color: #a09e9e;
    margin-top: 0px;
    text-align: center;
}

.feature-left {
    margin: 50px 360px;
    padding-top: 20px;
}

.feature-subleft h6{
    color: #1E0E62;
    padding-top: 20px;
}

.feature-subleft p {
    color: #a09e9e;
    font-size: 12px;
}

.feature-image img{
    padding-top: 50px;
    padding-right: 280px;
    float: right;
    width: 30%; 
}