@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: "DM Sans", sans-serif;

}

html, body {
    padding: 0;
    margin: 0;
}

.image{
    padding: 30px;
}
.align{
    background-color: #1E0E62;
    padding: 0 70px;

}
header {
    justify-content: space-between;
    display:flex;
}

.bonded.group .align .logo {
    display: flex;
}

nav ul{
    display: flex;
    
}

nav ul li{
    list-style: none;
    margin-right: 20px;
    font: #ffffff;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.bit-signin {
    outline: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    color: #ffffff;
    background-color:#1E0E62;
    padding: 0 30px;
}

.bit-signup {
        outline: #636262;
        box-shadow: none;
        padding: 5px 10px;
        cursor: pointer;
        background-color:#1E0E62;
        text-decoration: none;
        border: 2px solid #ffffff5d;
        width: 70px;
        border-radius: 20px;
        color: #ffffff;
}

.logo{
    line-height: 1.0px;
    padding: 20px 20px;
    margin-right: 10px;

}

.group {
    line-height: 50px;
}

.hero {
    background-color: #1E0E62;
    padding: 10px 50px;
    display: flex;
}

.hero-left .btn-learn {
    text-align: left;
}

.hero-left{
    color: #ffffff;
    margin: 40px;
}

.hero-left h4 {
    font-size: 30px;
    margin:20px;
}

.hero-left p {
    font-size: 10px;
    margin: 20px;
}

.btn-learn {
    background-color:#E93A7D;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
    margin: 20px;
    border: none;
}

.hero-right{
    color: #1E0E62;
    font-size: 20px;
    background-color: #fff;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    margin-left: 400px;
    margin-bottom: 50px;
}

.hero-up {
    font-size: 20px;
    color: #1E0E62;

}

.emalpass input {
    padding-left: 20px;
}

.email, .password {
    border-radius:20px;
    border: 1px solid #a09e9e;
    width: 330px;
    height: 40px;  
}

.password {
    margin-top: 20px;
}

.service {
    color: #a09e9e;
    font-size: 14px;  
}
 
.forline{
   display: flex;
   margin: 10px; 
}

.smallbutton {
    background-color: #25DAC5;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
    border: none;
    width: 24px;
    height: 24px;
}

.but-sig {
    background: #482BE7;
    border: none;
    width: 330px;
    height:40px;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;   
}

.or {
    color: #a09e9e; 
}

.log-twitter {
    background: #1DA1F2;
    border: none;
    width: 330px;
    height:40px;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
}

.account {
    color: #a09e9e;
}

.signin {
    color: #25DAC5;
    font-size: 15px;
}

.thirdsection {
    background-color: #ffffff;
}

.sectionhead {
    color:#1E0E62;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.section {
    color: #15143966;
    border-right: 10%;
    display: flex;
    margin-left: 250px;
    padding-top: 10px;
}

.move {
    text-align: left;
    margin-left: 100px;
}

.feature-content {
    margin-top: 30px;
}

.feature-head h4 {
    color: #1E0E62;
    text-align: center;
}

.feature-head p {
    color: #a09e9e;
    margin-top: 0px;
    text-align: center;
}

.feature-left {
    margin: 50px 360px;
    padding-top: 20px;
}

.feature-subleft h6{
    color: #1E0E62;
    padding-top: 20px;
}

.feature-subleft p {
    color: #a09e9e;
    font-size: 12px;
}

.feature-image img{
    padding-top: 50px;
    padding-right: 280px;
    float: right;
    width: 30%; 
}

.easy {
    padding-top: 100px;
    position: relative;
}

.image1 img {
    background-color: #482BE7;
    width: 1259px;
    height: 600px;
    position: relative;
}

.easy1 {
    color: #ffffff;
    position: absolute;
    text-align: center;
    top: 120px;
    left: 450px;
}

.easyfit p {
    font-size: 12px;
}

.easyfit h4 {
    font-size: 20px;
}

.easy-right img, .easy-left img {
    width:27px;
    height: 25px;
}

.subset{
    position: absolute;
    display: flex;
    top: 310px;
    right: 160px;
    left:0px;
    padding-left: 0px;
}

.subset p {
    font-size: 10px;
}

.subset h3 {
    font-size: 14px;
}


.sam1 {
    float: left;
    color: #ffffff;
}

.easy-right img {
    position: absolute;
    top: 10px;
}

.easy-right p {
    position: absolute;
    top: 40px;
    left: 290px;
}

.easy-right1 {
    position: absolute;
    left: 50px;
}

.easy-left {
    position: absolute;
    right: 150px;
    left: 450px;
    color: #ffffff;
}

.easy-left img {
    position: absolute;
    top: 10px;
}

.sam2 {
    position: absolute;
    right: 130px;
}
.easy-right, .easy-left {
    padding-left: 100px;
}

.easy-left {
    display: flex;
    padding-right: 50px;

}

.easy-right img{
    position: relative;
    padding-left: 200px;
}

.sam1{
    padding-left: 200px;
    padding-bottom: 100px;
}

.easy-right1 {
    display: flex;
    gap: 20px;
    font-size: 15px;
    padding-bottom: 20px;
    color: #ffffff;
}

.easy-left1 {
    padding-bottom: px;
    color: #ffffff;
    font-size: 12px;
    top: 20px;
}

.image2 img {
    position: absolute;
    width: 450px;
    top: 458.7px;
    right: 500px;
}

.macbook img {
    position: absolute;
    width: 590px;
    top: 440px ;
    right: 429px ;
}

.commerce {
    padding-top: 50px;
    display: flex;
    gap: 150px;
}

.shoe1 img {
    width: 500px;
    }

.commerce-right {
  color: #1E0E62 ;
}

.commerce-right p {
    color: #a09e9e;
    font-size: 12px;
    padding-bottom: 20px;
}

.commerce-price {
    display: flex;
    gap: 30px;
    padding: 0px 0px 50px 0px;
}


.commerce-price1 {
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
    background-color: #482BE7;
    color: #fff;
    border: none;
    padding: 0 36px;
    height: 40px;
}

.commerce-item {
    display: flex;
    gap: 20px;
}

.footer {
    display: flex;
    padding: 50px;
    gap: 100px;
    background: #2F1893;
    margin-top: 50px;
    color: #fff
}

.footer1 {
    padding-left: 70px;
}
 
.footer p {
    font-size: 10px;
}

.para1 {
    font-size: 10px;
}

.button form {
    width: 140px;
    color: #a09e9e;
    margin-top: 10px; 
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 0px;
    text-indent: 7px;
    height: 30px;
}

.button {
    margin-top: 20px;
    display: flex;
    gap: 8px;
}

.button button {
    background: #25DAC5;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-top: 10px ;
    color: #fff;
    height: 30px;
    width: 90px;
}

.footer1-bottom{
    display: flex;
    gap: 20px;
    margin-top: 80px;
}

.par0, .par1, .par2, .par3, .par4 {
    margin-bottom: 25px;
}

.par5, .par6, .par7, .par8, .par9, .par10 {
    margin-bottom: 25px;
}

.footer4-but {
    background: #E93A7D;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-top: 20px ;
    color: #fff;
    width: 100px;
    height: 30px;
}

.par11 {
    padding-left: 20px;
}

.footer4 {
    padding-left: 100px;
}

.men {
    display: none;
}

@media screen and (max-width: 620px) {
    
    .align {
        padding: 0 390px 0 10px;
    }

    .bonded.group .align .logo {
        flex-direction: column;
        display: none;
        padding: 0 10px;
    }
    
    nav ul{
        flex-direction: column;
    }
    
    .men {
        display: block;
        color: #fcf7f7;
        margin-top: 30px;
        padding-left: 200px;

    }

    .overall {
        display: none;
    }

     .hero-left br {
        display: none;
    }

    .hero {
        flex-direction: column;
        padding: 20px 380px 5px 20px;
        margin-top: -10px;
    }
    
    .hero-left {
        width: 300px; 
        padding-left: 0px;
        margin: 0px;
    }
    
    .hero-left h4{
        font-size: 20px;
    }

    .hero-left h4{
        font-size: 20px;
    }
    .learn {
        margin-top: 2px;
    }

    .align {
        display: flex;
        justify-content: space-between;
    }

    .image {
        padding: 30px 10px;
    }
     
    .btn-learn {
        margin: 5px 14px;
    }

    .hero-right{
        font-size: 25px;
        width: 320px;
        text-align: center;
        margin: 20px 10px;
        
    }

    .hero-up {
        font-size: 15px;
    
    }
    
    .email, .password {
    
        width: 290px;
        height: 30px;  
    }
    
    .password {
        margin-top: 10px;
    }
    
    .service {
        font-size: 10px;  
    }
     
    .forline{
       margin: 5px; 
    }
    
    .smallbutton {
        width: 20px;
        height: 19px;
    }
    
    .but-sig {
        width: 290px;
        height:40px; 
    }
    
    
    .log-twitter {
        width: 290px;
        height:40px;
    }
    .or {
        font-size: 19px;
    }

    .account {
        font-size: 15px;
    }

    br {
        display: none;
    }
    .sectionhead {
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
    }
    
    .section, .move {
    
        border-right: 10px;
        flex-direction: column;
        margin-left: 5px;
    }

    .feature-content {
        margin-top: 20px;
    }
    
    
    
    .feature-left {
        margin: 10px 20px;
        padding-top: 20px;
        text-align: left;

    }

    .h6 {
        margin-top: 30px;
    }
    
    .feature-subleft h6{
        padding-top: 10px;
    }
    
    .feature-subleft p {
        font-size: 15px;
    }
    
    .feature-image img{
        padding-top: 20px;
        padding-right: 50px;
        width: 300px; 
    }
    
 
    .easy {
        padding-top: 15px;
    }
    
    .image1 img {
        width: 399px;
        height: 320px;
    }
    
    .easy1 {
        text-align: center;
        top: 5px;
        left: 5px;
    }
    
    .easyfit p {
        font-size: 12px;

    }
    
    .easyfit h4 {
        font-size: 15px;
    }
    .easy1 h6 {
        margin-top: 15px;
    }
    .easy1 h4 {
        margin-top: -10px;
    }

    .easy1 p {
        margin-top: -15px;
    }
    
    .easy-right img, .easy-left img {
        width:10px;
        height: 10px;
    }
    
    .subset{
        flex-direction: column;
        top: 135px;
    }
    
    
    .subset h3 {
        font-size: 14px;
        
    }
    
    
    .sam1 p {
        left: 100px;
        
    }
    
    
    .easy-right p {
        top: 20px;
        text-align: center;
        width: 200px;

    }


    .easy-right h3 {
        top: 20px;
        width: 100px;

    }
    
    .easy-right1 {
        left: 100px;
    }
    
    .easy-left {
        right: 300px;
        left: 250px;
        width: 200px;
    }
    
    .easy-left img {
        top: 15px;
        left: 0px;
    }
    
    .sam2 {
        left: 12px;
        width: 200px;

    }

    .sam2 p {
        margin-top: -10px;
    }

    .sam1 p {
        left: 110px;
    }

    .easy-right  {
        padding-left: 1px;
    }
    
    .easy-left {
        flex-direction: column;
        padding-right: 1px;
        left: 100px;
        top: 50px;
        
    
    }
    
    .easy-right img{
        padding-left: 1px;
    }
    
    .sam1{
        padding-left: 10px;
        padding-bottom: 0px;
    }
    
    .easy-right1 {
        gap: 0px;
        font-size: 15px;
        padding-bottom: 10px;
    }
    
    .easy-left1 {
        font-size: 12px;
        top: 2px;
    }
    
    .image2 img {
        width: 130px;
        top:266px;
        right:120px;

    }
    
    .macbook img {
        width: 170px;
        top: 260px ;
        right: 100px ;
    }

    .commerce {
        padding-top: 20px;
        padding-left: 10px;
        flex-direction: column;
        gap: 20px;
    }
    
    .shoe1 img {
        width: 350px;
        }
    
    
    .commerce-right p {
        padding-bottom: 10px;
    }
    
    .commerce-price {
        flex-direction:column;
        gap: 10px;
    }
    
    .commerce-price1 {
        height: 40px;
        width: 350px;
    }

    .commerce-price p {
        text-align: center;
    }
    
    .commerce-item {
        flex-direction: column;
        gap: 20px;
    }

    .commerce-item img {
        width: 300px;
    } 

    .footer {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        margin-top: 20px;
        width: 380px;
    }
    
    .footer1 {
        padding-left: 10px;
    }
     
    .footer p {
        font-size: 12px;
    }
    
    .para1 {
        font-size: 12px;
    }
    
    .footer1-bottom{
        display: flex;
        gap: 20px;
        margin-top: 30px;
    }
    
    .footer2, .footer3 {
        display: flex;
        gap: 10px;
    }
    .par0, .par1, .par2, .par3, .par4 {
        margin-bottom: 10px;

    }
    
    .par5, .par6, .par7, .par8, .par9, .par10 {
        margin-bottom: 10px;
    }
    
    .footer4-but {
        margin-top: 10px ;
    }
    
    .par11 {
        padding-left: 10px;
    }
    
    .footer4 {
        padding-left: 120px;
    }
}
    
